html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

h1, h2, h3, h4, h5, h6, p, a, b, th, tbody {
    font-family: "Montserrat", serif;
    color: var(--text-color);
}

:root {
    /* VueForm variables  */
    /* Tag
    --ms-tag-bg: var(--primary-color);
    --ms-tag-color: var(--text-color);
    */

    /* Dropdown
    --ms-dropdown-bg: var(--secondary-color);
    --ms-dropdown-border-color: none;
    --ms-dropdown-radius: 2px;
    */

    /* Select
    --ms-bg: var(--secondary-color);
    --ms-bg-disabled: var(--tertiary-color);
    --ms-border-color: none;
    --ms-ring-color: none;
    --ms-placeholder-color: var(--dark-text-color);
    --ms-spinner-color: none;
    --ms-radius: 2px;
    */

    /* Options
    --ms-option-bg-pointed: var(--primary-color);
    --ms-option-color-pointed: var(--reverse-text-color);
    --ms-option-bg-selected: var(--primary-color);
    --ms-option-color-selected: var(--reverse-text-color);
    --ms-option-bg-selected-pointed: var(--primary-color);
    --ms-option-color-selected-pointed: var(--reverse-text-color);
    --ms-empty-color: var(--dark-text-color);
    */

    /* @vueform/multiselect */
    --ms-font-size: 16px;
    --ms-option-font-size: 16px;
    --ms-option-line-height: 19px;
    --ms-tag-font-size: 16px;
    --ms-tag-line-height: 19px;

    --ms-border-width: 0px;
    --ms-tag-color: var(--dark-text-color);
    --ms-tag-bg: none;
    --ms-tag-font-weight: 400;

    --ms-ring-width: 1px;
    --ms-ring-color: black;

}

.multiselect {
    font-family: "Montserrat", serif !important;
    width: 50% !important;
    flex-grow: 1 !important;
    padding: 0 !important;
    border-radius: 5px !important;
    background-color: var(--secondary-color) !important;
    height: 34px !important;
}

.multiselect-wrapper {
    max-height: 19px !important;
    height: 19px !important;
    background-color: var(--secondary-color) !important;
    border-radius: 5px !important;
    border: none;
}

.multiselect-tags {
    margin: 0 !important;
}

.multiselect-tag {
    padding: 0 !important;
    margin: 0 !important;
}

.multiselect-tags-search {
    background-color: var(--secondary-color) !important;
}

.multiselect-search {
    background-color: var(--secondary-color) !important;
}

.multiselect-dropdown {
    background-color: var(--secondary-color) !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: var(--border-color) !important;
    right: -1px !important;
    left: -1px !important;
}

.multiselect-clear-icon {
    background-color: var(--accent-color) !important;
}

.multiselect-caret {
    background-color: var(--accent-color) !important;
}

.is-pointed {
    background-color: var(--tertiary-color) !important;
}

.is-selected {
    background-color: var(--quaternary-color) !important;
}

.is-active {
    background-color: var(--secondary-color) !important;
    border-radius: 5px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    outline: 1px solid var(--border-color) !important;
}

.multiselect-no-results {
    font-family: "Montserrat", serif !important;
    color: var(--dark-text-color) !important;
}

.ProseMirror:focus {
    outline: none !important;
}

/* Themes */

[data-theme="obsidian"] {
    /* Main Colors */
    --primary-color: #745ed4;
    --secondary-color: #5136c9;
    --tertiary-color: #412ba1;
    --quaternary-color: #302079;
    --accent-color: #201551;
    --border-color: #eeeeee;

    /* Text colors */
    --reverse-text-color: #000000;
    --dark-text-color: #eeeeee;
    --text-color: #ffffff;

    /* Other */
    --shadow-color: rgba(0, 0, 0, 0.2);
}

[data-theme="pewter"] {
    /* Main Colors */
    --primary-color: #808080;
    --secondary-color: #666666;
    --tertiary-color: #4d4d4d;
    --quaternary-color: #333333;
    --accent-color: #262626;
    --border-color: #1a1a1a;

    /* Text colors */
    --reverse-text-color: #000000;
    --dark-text-color: #f2f2f2;
    --text-color: #eeeeee;

    /* Other */
    --shadow-color: rgba(0, 0, 0, 0.2);
}

[data-theme="office"] {
    /* Main Colors */
    --primary-color: #f9f2ec;
    --secondary-color: #d9b38c;
    --tertiary-color: #cc9966;
    --quaternary-color: #bf8040;
    --accent-color: #996633;
    --border-color: #734d26;

    /* Text colors */
    --reverse-text-color: #000000;
    --dark-text-color: #262626;
    --text-color: #ffffff;

    /* Other */
    --shadow-color: rgba(0, 0, 0, 0.2);
}

[data-theme="lavender"] {
    /* Main Colors */
    --primary-color: #8585ad;
    --secondary-color: #666699;
    --tertiary-color: #52527a;
    --quaternary-color: #3d3d5c;
    --accent-color: #29293d;
    --border-color: #e0e0eb;

    /* Text colors */
    --reverse-text-color: #000000;
    --dark-text-color: #eeeeee;
    --text-color: #ffffff;

    /* Other */
    --shadow-color: rgba(0, 0, 0, 0.2);
}


.page {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

/* Text & Titles */
.title {
    color: var(--text-color);
    font-family: "Montserrat", serif;
    font-size: 32px;
    font-weight: 700;
}

.sub-title {
    color: var(--text-color);
    font-family: "Montserrat", serif;
    font-size: 20px;
    font-weight: 650;
}

.title-card {
    display: flex;
    border-radius: 5px;
    padding: 5px;
}

.categories {
    display: flex;
}

.category-card {
    margin: 4px 4px 4px 0;
    display: flex;
    border-radius: 5px;
    padding: 5px;
}

.text-dark {
    color: var(--dark-text-color) !important;
}

/* Table */
.table-search {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.table {
    display: inline-block;
    overflow-y: scroll;
    height: 100%;
    border-radius: 5px;
    border-collapse: collapse;
    text-align: left;
}

.table > thead > tr > th {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    border-width: 2px;
    border-color: var(--border-color);
    border-style: solid;
}

.table > tbody > tr > td {
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 700;
    border-width: 2px;
    border-color: var(--border-color);
    border-style: solid;
}

/* Table */
.trait-table {
    width: 100%;
}

/* Component */
.component {
    overflow-y: auto;
    margin: 10px;
    height: calc(100% - 63px);
    width: 100%;
    transition: all 0.5s;
}

.component * {
    color: var(--dark-text-color);
}

.table-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
}

/* Navbar */
.navbar {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: start;
    z-index: 5;
    width: 260px;
    transition: all 0.5s;
}

.navbar-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 49px;
    transition: all 0.5s;
    z-index: 5;
}

.navbar-title {
    font-size: 32px;
    font-weight: 700;
    z-index: 3;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-color: var(--text-color);
    border-style: solid;
}

.navbar-option {
    width: 100%;
    font-size: 32px;
    font-weight: 700;
    z-index: 3;
}

.navbar-option:hover {
    background-color: var(--tertiary-color);
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.navbar-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.navbar-options > a, p {
    margin: 0;
}

/* Select */
.clean-select {
    background-color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    transition: all 0.5s;

    color: var(--dark-text-color);
    font-family: "Montserrat", serif;
    font-size: 20px;
    font-weight: 650;
}

.clean-option {
    color: var(--dark-text-color);
    font-family: "Montserrat", serif;
    font-size: 20px;
    font-weight: 650;
}

.select {
    border: none;
    text-align: left;
    transition: all 0.5s;
}

.option {
    color: var(--text-color);
    font-family: "Montserrat", serif;
    font-size: 32px;
    font-weight: 700;
}

/* Multiselect */
.multiselect {
    position: relative;
    width: auto;
    padding: 0;
    margin: 0;
}

/* Inputs */
.text-input {
    color: var(--dark-text-color);
    font-size: 16px;
    font-weight: bold;
    background-color: var(--primary-color);
    width: 100%;
    border: none;
    box-sizing: border-box;
    height: 40px;
}

.text-input::placeholder {
    color: var(--dark-text-color);
    font-family: "Montserrat", serif;
}

.text-input:focus {
    outline: none;
}

.clean-input {
    color: var(--text-color);
    font-family: "Montserrat", serif;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    height: 40px;
    transition: all 0.5s;
}

.clean-input:hover {
    text-decoration: none;
    outline: none;
}

.clean-input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.clean-input:focus {
    text-decoration: none;
    outline: none;
}

.clean-input::placeholder {
    font-family: "Montserrat", serif;
}

.title-input {
    color: var(--dark-text-color);
    font-family: "Montserrat", serif;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    height: 39px;
}

.title-input:hover {
    text-decoration: none;
    outline: none;
}

.title-input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.title-input::-webkit-outer-spin-button,
.title-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.title-input:focus {
    text-decoration: none;
    outline: none;
}

.title-input::placeholder {
    font-family: "Montserrat", serif;
}

/* Button */
.clean-button {
    /* border: 1px solid black; */
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    font-family: "Montserrat", serif;
    font-weight: bold;
    color: var(--dark-text-color);
}

.button {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--tertiary-color);
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.button:hover {
    background-color: var(--quaternary-color);
}

/* Icons */
.icon-32 {
    height: 32px;
    width: 32px;
}

/* Background Colors */
.background-primary {
    background-color: var(--primary-color);
}

.background-secondary {
    background-color: var(--secondary-color);
}

.background-tertiary {
    background-color: var(--tertiary-color);
}

.background-quaternary {
    background-color: var(--quaternary-color);
}

/* Router Link */
.no-text-link {
    text-decoration: none;
    text-underline: none;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Deck & Cards */
.deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

.card {
    height: fit-content;
    margin: 5px;
    flex: 1;
    border-radius: 5px;
}

.card-body {
    padding: 5px;
}

.card-image {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--text-color);
}

.card-text {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text-color);
}

/* Row & Columns */
.row {
    display: flex;
    flex-direction: row;
}

/* Border */
.b-2 {
    border-width: 2px !important;
    border-style: solid !important;
    border-color: var(--border-color) !important;
}

.r-5 {
    border-radius: 5px !important;
}

/* Margin */
.m-0 {
    margin: 0 !important;
}

.m-5 {
    margin: 5px !important;
}

.m-10 {
    margin: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

/* Padding */
.p-5 {
    padding: 5px !important;
}

.pr-5 {
    padding-right: 5px !important;
}

.p-10 {
    padding: 10px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pr-10 {
    padding-right: 10px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

/* Size */
.w-80 {
    width: 80% !important;
}

.w-90 {
    width: 90% !important;
}

.w-100 {
    width: 100% !important;
}

/* Placements */
.ta-center {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* User Select */
.us-none {
    user-select: none;
}

/* Account */
.account {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cursor */
.clickable {
    cursor: pointer;
}

/* Checkbox */
.checkbox {

}

.checkbox-ul {
    padding: 0;
    margin: 0;
    clear: both;
}

.checkbox-li {
    list-style-type: none;
    list-style-position: outside;
    padding: 10px;
    float: left;
}

.checkbox-label {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--quaternary-color);
    color: var(--text-color);
    padding: 5px;
    margin-bottom: 10px;
    user-select: none;
}

.checkbox[type="checkbox"]:checked + label {
    background-color: var(--primary-color);
    color: var(--dark-text-color);
}

/* Fieldset */

.fieldset {
    border-color: var(--border-color);
}

.legend {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
}

/* Search */
.search {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid var(--primary-color);
    align-items: center;
    transition: all 0.5s;
}

.search-results {
    color: var(--text-color);
    font-family: "Montserrat", serif;
    font-size: 16px;
    font-weight: 500;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.5s;
    width: 0;
}

.search-results-opened {
    width: 260px;
    transition: all 0.5s;
}

.search-button {
    width: 100%;
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    border-radius: 5px;
    border-style: solid;
    margin: 2px;
}

.search-category {
    display: flex;
    flex-direction: column;
    width: 100%;
    white-space: nowrap;
}

.search-category-title {
    padding-top: 10px;
    border-bottom: 1px solid var(--primary-color);
}

/* Menu */
.menu {
    position: absolute;
    display: grid;
    grid-auto-flow: column;
    z-index: 10;
    right: 0;
    bottom: 0;
    padding: 5px 5px 0 5px;
    border-top-left-radius: 5px;
    transition: all 0.5s;
    width: 33px;
    height: 38px;
}

.menu-icons {
    transition: all 0.5s;
    display: flex;
    flex-direction: row;
    padding: 1px;
}

.menu-opened {
    width: 107px;
}

/* Transform */
.capitalize {
    text-transform: capitalize;
}

/* Modals */
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    transition: opacity 0.3s ease;
}

.modal-container {
    width: 900px;
    margin: auto;
    padding: 20px 30px;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: "Montserrat", serif;
    color: var(--text-color);
}

.modal-body {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.modal-save {
    /* border: 1px solid black; */
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    font-family: "Montserrat", serif;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--secondary-color);
}

.modal-save:hover {
    background-color: var(--quaternary-color);
}

.modal-cancel {
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--accent-color);
    padding: 5px;
    margin: 10px;
    font-family: "Montserrat", serif;
    color: var(--text-color);
}

.modal-enter-from {
    opacity: 0;
}

.modal-leave-to {
    opacity: 0;
}

.modal-enter-from .modal-container,
.modal-leave-to .modal-container {
    transform: scale(1.1);
}

/* Transitions */

.fall-enter-active,
.fall-leave-active {
    transition: all 0.5s;
}

.fall-enter-from,
.fall-leave-to {
    transform: translateY(-100%);
}

.fall-enter-to,
.fall-leave-from {
    transform: translateY(0%);
}

.slide-enter-active,
.slide-leave-active {
    transition: all 0.5s;
}

.slide-enter-from,
.slide-leave-to {
    transform: translateX(-100%);
}

.slide-enter-to,
.slide-leave-from {
    transform: translateX(0%);
}


.delay-enter-active,
.delay-leave-active {
    transition: all 0.5s;
    transition-delay: 0.5s;
}
